@font-face {
  font-family: ostrich;
  src: url("fonts/ostrichsans.woff") format("woff"), url("fonts/ostrichsans.ttf") format("truetype"); }
@font-face {
  font-family: ostrich-black;
  src: url("fonts/ostrichsans-black.woff") format("woff"), url("fonts/ostrichsans-black.ttf") format("truetype"); }
