@font-face {
  font-family: ostrich;
  src: url("fonts/ostrichsans.woff") format("woff"), url("fonts/ostrichsans.ttf") format("truetype"); }
@font-face {
  font-family: ostrich-black;
  src: url("fonts/ostrichsans-black.woff") format("woff"), url("fonts/ostrichsans-black.ttf") format("truetype"); }
img, video {
  width: 100%; }

a {
  text-decoration: none;
  color: inherit; }

.page_content {
  width: 100%;
  height: 100vh; }
  .page_content .content {
    width: 80%;
    margin: 0 auto; }
    .page_content .content .logo {
      width: 30%;
      margin-top: 8em; }
      @media only screen and (max-width: 30em) {
        .page_content .content .logo {
          width: 100%; } }
    .page_content .content .phrase {
      font-family: ostrich, sans-serif;
      text-align: center; }
    .page_content .content .bar {
      border: 1px black solid;
      width: 100%;
      height: 20px; }
      .page_content .content .bar .loadbar {
        width: 100%;
        height: 100%;
        background: black;
        -webkit-animation: load 3s ease-in; }

.page_content_login {
  width: 100%;
  height: 100vh; }
  .page_content_login .content {
    width: 80%;
    margin: 0 auto; }
    .page_content_login .content .create {
      font-family: ostrich, sans-serif;
      font-size: .8em; }
    .page_content_login .content .profile {
      font-family: ostrich-black, sans-serif;
      background: #cecece;
      text-align: center;
      padding: 1px;
      width: 80%;
      margin: 5em auto;
      border-radius: 2px; }
    .page_content_login .content .or {
      font-family: ostrich, sans-serif;
      font-size: 1.25em;
      text-align: center; }
    .page_content_login .content .login_bar {
      width: 80%;
      height: 20px;
      margin: 5em auto; }
      .page_content_login .content .login_bar .twitter {
        width: 50%;
        background: blue;
        float: left;
        width: 50px;
        margin: 0 auto; }
      .page_content_login .content .login_bar .facebook {
        width: 50%;
        background: green;
        float: left;
        width: 50px;
        margin: 0 11%; }
      .page_content_login .content .login_bar .other {
        width: 50%;
        background: red;
        float: left;
        width: 50px; }

.page_content_new_pro {
  width: 100%;
  height: 100vh; }
  .page_content_new_pro .content {
    width: 80%;
    margin: 0 auto; }
    .page_content_new_pro .content .create {
      font-family: ostrich, sans-serif;
      font-size: .8em;
      margin-bottom: 4em; }
    .page_content_new_pro .content .inputs input, .page_content_new_pro .content .inputs input[type="password"], .page_content_new_pro .content .inputs input[type="search"], .page_content_new_pro .content .inputs isindex {
      font-family: ostrich, sans-serif;
      -webkit-appearance: textfield;
      letter-spacing: 2px;
      background-color: #cecece;
      border: none;
      padding: 10px;
      width: 100%;
      margin: 0.5em 0;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      -webkit-rtl-ordering: logical;
      -webkit-user-select: text;
      cursor: auto;
      font-size: 1.5em;
      box-sizing: border-box; }
    .page_content_new_pro .content .button input[type="button"], .page_content_new_pro .content .button input[type="submit"], .page_content_new_pro .content .button input[type="reset"], .page_content_new_pro .content .button input[type="file"]::-webkit-file-upload-button, .page_content_new_pro .content .button button {
      font-family: ostrich, sans-serif;
      align-items: flex-start;
      letter-spacing: 2px;
      text-align: center;
      cursor: default;
      color: buttontext;
      padding: 6px 6px;
      border: none;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      background-color: buttonface;
      box-sizing: border-box;
      font-size: 1.5em;
      float: right;
      margin-top: 1em;
      background: #cecece; }

.page_content_loadingmap {
  width: 100%;
  height: 100vh;
  background: url("img/map_outline.png"); }
  .page_content_loadingmap .content {
    width: 80%;
    margin: 0 auto; }
    .page_content_loadingmap .content .logo {
      width: 30%;
      margin-top: 8em; }
      @media only screen and (max-width: 30em) {
        .page_content_loadingmap .content .logo {
          width: 100%; } }
    .page_content_loadingmap .content .phrase {
      font-family: ostrich, sans-serif;
      text-align: center; }
    .page_content_loadingmap .content .bar {
      border: 1px black solid;
      width: 100%;
      height: 20px;
      margin-top: 10em; }
      .page_content_loadingmap .content .bar .loadbar {
        width: 100%;
        height: 100%;
        background: black;
        -webkit-animation: load 5s ease-in; }

@-webkit-keyframes load {
  0% {
    width: 0%; }

  50% {
    width: 10%; }

  80% {
    width: 50%; }

  90% {
    width: 90%; }

  100% {
    width: 100%; } }
